body,div{
	margin: 0;
	padding:0;
}	
body,li{
	margin:20px;
	padding: 0;
}

li{
	width: 200px;
	height: 100px;
	background: #ccc;
	position: relative;
	left: -200px;
	top: 0;
	border: 5px solid #000;
}

#li3{
	filter: alpha(opacity:100);
	opacity: 1;
}

