*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:"微软雅黑"
}

.flexBox{
	display: flex;
	flex-flow: column wrap;
	min-height: 100vh;
}

.header{
	display: flex;
	background-color: rgb(27,168,185);
	flex:1;
	height: 0;
}

.header .headDiv{
	flex:1;
	display: flex;
	align-items: center;
	padding: 0 50px;
}

.header .leftDiv{
	justify-content: flex-start;
}

.header .midDiv{
	justify-content: center;
}

.header .rightDiv{
	justify-content: flex-end;
}

.header .headDiv .leftSpan{
	width:39px;
	height:39px;
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
	transform: rotate(-45deg);
}
.header .headDiv .midSpan{
	font-size: 50px;
	font-weight: bold;
	color: #fff;
}
.header .headDiv .rightSpan{
	font-size: 45px;
	font-weight: bold;
	color: #fff;
}
.footer{
	height: 0;
	flex:1;
	display: flex;
}

.footer div{
	display: flex;
	flex:1;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}
.footer div span{
	font-size: 45px;
	color: rgb(104,104,104);
}

.footer div .select{
	color: rgb(27,168,185);
}

.body{
	height: 0;
	flex:11;
	display: flex;
	flex-flow: column wrap;
}

.body div{
	display: flex;
	align-items: center;
	padding-left: 35px;
	border:1px solid #d7d7d7;
	flex:1;
}

.body div span{
	font-size: 45px;
}